@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PassGen</h1>
    <p><b>PassGen</b> is a project site which generates and stores passwords for multiple users. Any data used on this site is for demonstration purposes only and is purely fictitious.</p>
    <p>If you would like to see the code for this site, check it out on <a href="https://github.com/tylerwh/PasswordGeneratorApp" target="_blank">GitHub</a></p>
</div>
