@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is part of a school project for the C# Advanced class at Des Moines Area Community College, Summer 2021.</p>
<p>The tech stack includes:</p>
<ul>
    <li>ASP.NET Core MVC 3.1</li>
    <li>SQL Server</li>
    <li>HTML/CSS/Bootstrap</li>
</ul>
